@import './../global-styles.scss';

.title-page{
    color: $text;
    font-size: 26px;
    position: relative;
    font-family: "Roboto-bold";
    &::before{
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100px;
        height: 1px;
        background: $primary-color;
    }
    @include screen("sm"){
        text-align: center;
    }
}
.container-products{
    padding-top: 100px !important;
    min-height: 100vh;
    .container-cards{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
        @include screen("sm"){
            justify-content: center;
            padding-bottom: 40px;
        }
        .card{
            border-radius: 5px;
            border: 1px solid #0089ff;
            padding: 20px;
            color: $black;
            text-decoration: none;
            transition: all .2s linear;
            box-shadow: 0px 0px 0px #00000042;
            @include screen("sm"){
                text-align: center;
            }
            &:hover{
                box-shadow: 0px 3px 6px #00000042;
            }
            i{
                color: orange;
            }
            .icon-big{
                color: $black;
                font-size: 25px;
                margin-bottom: 10px;
            }
            .title{
                font-size: 20px;
            }
            .description{
                color: $text;
            }
        }
    }
}