@import './../global-styles.scss';

.container-social{
    padding-top: 49px;
    display: grid;
    grid-template-columns: (repeat(auto-fill, minmax(calc(50% - 20px),1fr)));
    max-height: calc(100vh - 50px);
    &__content{
        min-height: 100vh;
        &:first-child{
            padding: 50px 20px;
            max-width: 700px;
            margin-left: auto;
        }
        &:nth-child(2){
            overflow-y: auto;
            background-color: #D6DBEA2E;
        }
        &--title{
            color: #6E6E6E;
            margin-bottom: 23px;
        }
        &--description{
            color: $text;
            margin-bottom: 30px;
        }
        &--response{
            border-bottom: 1px solid grey;
            color: $text;
            padding: 85px 0;
            cursor: pointer;
            position: relative;
            &--copy{
                position: absolute;
                top: 30px;
                right: 10px;
            }
        }
        &--loading{
            color: $text;
            background-color: #FFA702;
            color: $white;
            min-height: 100px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 100px;
            border-end-end-radius: 40px;
            border-start-end-radius: 40px;
            max-width: 500px;
            &--big{
                display: block;
                font-size: 30px;
            }
        }
        &__flex{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            & > * {
                width: 45%;
                max-width: 280px;
            }
        }
    }
}
.btn.left{
    margin-top: 50px;
    display: block;
    margin-left: auto;
}