@import './styles/global-styles.scss';

@font-face {
  font-family: $regular-font;
  src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: $bold-font;
  src: url(../fonts/Roboto-Bold.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
p,a,li,span,i{
  font-size: 16px;
  vertical-align: middle;
}